h1{
    margin: auto;
    min-width: 300px;
    width: 20%;
}
body{
    font-family: monospace;
    /* background: linear-gradient(to top, #2c3e50, #bdc3c7); */
}
#dashboard{
    height: 82vh
}
#DataEntryForm{
    width:25vw;
    margin:auto;
}
input[type='submit']{
    background: #dfb74c;
    border: none;
}