h1{
    text-align: center;
}
h3{
    text-align: center;

}
body{
    font-family: sans-serif;
    background: url(backgroundimg.jpg);
}
#DataEntryForm{
    width: 19vw;
    margin: auto;
    background: rgba(255, 255, 255, 80%);
    padding: 16px;
    border-radius: 28px;
    transition: all .2s ease-in;
}
#DataEntryForm:hover{
    box-shadow: rgba(0, 0, 0, .2) 5px 4px 20px 0px
}

input[type='submit']{
    background: #dfb74c;
    border: none;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    transition: all .2s ease-in;
}
input[type='submit']:hover{
    box-shadow: rgba(0, 0, 0, .2) 5px 4px 20px 0px
}
.chart-container{
    position: relative;
    margin: 5px;
    min-width: 300px;
    background: rgba(255, 255, 255, 80%);
    border-radius: 28px;
    transition: all 0.2s ease-in;
}
.chart-container:hover{
    box-shadow: rgba(0, 0, 0, .2) 5px 4px 20px 0px
}

.pie{
    max-width: 500px;
    padding: 5px;
}

.bar{
    width: 520px;
}

#age-y-axis{
    position: absolute;
    transform: rotate(-90deg);
    text-anchor: end;
    top: 50%;
    left: -10%;
}
#age-x-axis{
    position: absolute;
    left: 32%;
    bottom: -2%;
}

#dashboard{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

h4{
    text-align: center;
}